body,
head {
  background-image: url(6574814.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}
.img1 {
  display: flex;
  margin-top: 100px;
  border-radius: 50%;

  width: 400px;
  height: auto;
  flex: 1;
}
.img1:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.centered-content {
  text-align: center;
  color: white;
}

.heading {
  color: purple;
  font-size: 2vw;
  margin-bottom: 50px;
}
.about-Dimalig {
  color: purple;
  background-color: rgb(
    255,
    238,
    255,
    0.9
  ); /* Adjust the last value (0.5) for reduced opacity */
  padding: 50px;
  border-radius: 50px;
  border-style: groove;
  font-size: 30px;
  text-align: justify;
  line-height: 1.6;
  text-align-last: justify;
  text-align-last: left;
}
.heading .about-Dimalig {
  text-align: justify;
}
.Dimalig-text {
  flex: 1;
  margin-right: 800px; /* Center the content on the left side */
  max-width: 800px; /* Set a maximum width to limit the content width */
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .Dimalig-text {
    margin-right: 0; /* Reset margin for smaller screens */
  }
}
.about-Dimalig3{
  color: purple;
  background-color: rgb(255, 238, 255, 0.9); /* Adjust the last value (0.5) for reduced opacity */
  padding: 50px;
  border-radius: 50px;
  border-style: groove;
  font-size: 30px;
  text-align: justify;
  line-height: 1.6;
  text-align-last: justify;
  text-align-last: left;
}
.about-Dimalig3 {
  position: relative;
  text-align: justify;
  top: 200px;
  bottom: 0;
}   
.Dimalig-text3 {
 flex: 1; 
 margin-left: 800px; /* Center the content on the left side */
 max-width: 800px; /* Set a maximum width to limit the content width */
 margin-top: 60px;
}
@media screen and (max-width: 768px) {
.Dimalig-text3 {
margin-left: 0; /* Reset margin for smaller screens */
}
}
.about-Dimalig2 {
  color: purple;
  padding: 50px;
  border-radius: 50px;
  font-style: oblique;
  font-size: 100px;
  text-align: center;
  line-height: 1.6;
  text-align-last: center;
  text-align-last: left;
}
.about-Dimalig2 {
  text-align: center;
}
.Dimalig-text2 {
  flex: 1;
  margin-right: 800px; /* Center the content on the left side */
  max-width: 800px; /* Set a maximum width to limit the content width */
  margin-top: 300px;
}
@media screen and (max-width: 768px) {
  .Dimalig-text2 {
    margin-right: 0; /* Reset margin for smaller screens */
  }
}
.slowgif {
  position: absolute;
  margin-left: 1050px;
  bottom: 20%;
  top: 30%;
  border-radius: 0;
  border-style: none;
  width: 25vw;
  height: 25vw;
}
@media screen and (max-width: 768px) {
  .slowgif {
    position: relative;
    margin: 0; /* Reset margin for smaller screens */
    justify-self: center;
  }
}
.oksi{
  position: absolute;
  bottom: 0%;
  top: 87%;
  left: 15%;
  right: 0;
  border-radius: 0;
  border-style: none;
  width: 20vw;
  height: 30vw;
}
@media screen and (max-width: 768px) {
  .oksi {
  position: relative;
  margin: 0; /* Reset margin for smaller screens */
  justify-self: center;
  margin-top: 50vw;
  }
 }
.hacker {
  position: absolute;
  bottom: 0%;
  top: 60%;
  left: 60%;
  right: 0;
  border-radius: 0;
  border-style: none;
  width: 30vw;
  height: 30vw;
}
@media screen and (max-width: 768px) {
  .hacker {
    position: relative;
    margin: 0; /* Reset margin for smaller screens */
    justify-self: center;
  }
}
nav.hero {
  position: absolute;
}
.hero li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
}
nav.hero a {
  font-size: 1.5vw;
}
@media screen and (max-width: 1000px) {
  nav.hero {
    top: 10%;
    left: 15%;
    right: 15%;
  }
}
