body,
head {
  background-image: url(6068474.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}
.img1 {
  display: flex;
  margin-top: 100px;
  border-radius: 50%;

  width: 400px;
  height: auto;
  flex: 1;
}
.img1:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.centered-content {
  text-align: center;
  color: white;
}

.heading {
  color: white;
  font-size: 2vw;
  margin-bottom: 50px;
}
.about-Bernabe {
  color: white;
  background-color: rgba(
    24,
    28,
    57,
    0.9
  ); /* Adjust the last value (0.5) for reduced opacity */
  padding: 50px;
  border-radius: 50px;
  border-style: groove;
  font-size: 30px;
  text-align: justify;
  line-height: 1.6;
  text-align-last: justify;
  text-align-last: left;
}
.heading .about-Bernabe {
  text-align: justify;
}
.Bernabe-text {
  flex: 1;
  margin-right: 800px; /* Center the content on the left side */
  max-width: 800px; /* Set a maximum width to limit the content width */
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .Bernabe-text {
    margin-right: 0; /* Reset margin for smaller screens */
  }
}
.heading2 {
  color: white;
  font-size: 2vw;
  margin-bottom: 10px;
}
.about-Bernabe2 {
  color: white;
  margin-bottom: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.heading2 {
  text-align: right;
}
.Bernabe-text2 {
  flex: 1;
  margin-left: 800px; /* Center the content on the left side */
  max-width: 800px; /* Set a maximum width to limit the content width */
  margin-top: 200px;
}
@media screen and (max-width: 768px) {
  .Bernabe-text2 {
    margin-left: 0%; /* Reset margin for smaller screens */
  }
}
nav.hero {
  position: absolute;
}
.hero li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
}
nav.hero a {
  font-size: 1.5vw;
}
@media screen and (max-width: 1000px) {
  nav.hero {
    top: 10%;
    left: 15%;
    right: 15%;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon-name {
  position: relative;
  margin-left: 100px;
  color: white;
  font-size: 2vw;
  bottom: 150px;
}
.Bernabe-pic {
  position: absolute;
  border-radius: 50%;
  border-style: none;
  margin-bottom: 0%;
  bottom: 200px;
  left: 100px;
  height: 1200px;
  width: auto;
}
@media screen and (max-width: 768px) {
  .Bernabe-pic {
    position: relative;
    margin-right: 100px; /* Reset margin for smaller screens */
  }
}
.Infographics {
  position: absolute;
  border-radius: 0;
  border-style: none;
  margin-bottom: 0%;
  bottom: -100%;
  height: 100%;
  width: auto;
  display: flex;
  justify-self: center;
  border-radius: 50px;
  overflow: visible;
}
@media (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768 pixels */
  .Infographics {
    max-width: 100%; /* Set width to 100% for smaller screens */
    max-width: auto; /* Allow the height to adjust proportionally */
  }
}
