body, head {
    background-image: url(6574814.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.img1 {
    display: flex;
    margin-top: 100px;
    border-radius: 50%;
    width: 400px;
    height: auto;
    flex: 1;
}

.img1:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.centered-content {
    text-align: center;
    color: white;
}

.heading {
    color: purple;
    font-size: 2vw;
    margin-bottom: 50px;
}

.about-Bernabe {
    color: purple;
    background-color: rgb(255, 238, 255, 0.9);
    padding: 50px;
    border-radius: 50px;
    border-style: groove;
    font-size: 30px;
    text-align: justify;
    line-height: 1.6;
    text-align-last: justify;
    text-align-last: left;
}

.heading .about-Bernabe {
    text-align: justify;
}

.Bernabe-text {
    flex: 1;
    margin-right: 800px;
    max-width: 800px;
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .Bernabe-text {
        margin-right: 0;
    }
}

.about-Bernabe2 {
    color: purple;
    background-color: rgb(255, 238, 255, 0.9);
    padding: 50px;
    border-radius: 50px;
    border-style: groove;
    font-size: 30px;
    text-align: justify;
    line-height: 1.6;
    text-align-last: justify;
    text-align-last: left;
}

.about-Bernabe2 {
    text-align: justify;
}

.Bernabe-text2 {
    flex: 1;
    margin-left: 800px;
    max-width: 800px;
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .Bernabe-text2 {
        margin-left: 0;
    }
}

.about-Bernabe3 {
    color: purple;
    background-color: rgb(255, 238, 255, 0.9);
    padding: 50px;
    border-radius: 50px;
    border-style: groove;
    font-size: 30px;
    text-align: justify;
    line-height: 1.6;
    text-align-last: justify;
    text-align-last: left;
}

.about-Bernabe3 {
    text-align: justify;
}

.Bernabe-text3 {
    flex: 1;
    margin-right: 800px;
    max-width: 800px;
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .Bernabe-text3 {
        margin-right: 0;
    }
}
.slowgif {
    position: absolute;
    margin-left: 950px;
    bottom: 20%;
    top: 31%;
    border-radius: 0;
    border-style: none;
    width: 35vw;
    height: 25vw;
}

@media screen and (max-width: 768px) {
    .slowgif {
        position: relative;
        margin-left: 0;
        justify-self: center;
    }
}

.hacker {
    position: absolute;
    bottom: 0%;
    top: 53%;
    left: 15%;
    right: 0;
    border-radius: 0;
    border-style: none;
    width: 25vw;
    height: 35vw;
}

@media screen and (max-width: 768px) {
    .hacker {
        position: relative;
        margin: 0;
    }
}

.error {
    position: absolute;
    bottom: 0%;
    top: 79%;
    left: 62%;
    right: 0;
    border-radius: 0;
    border-style: none;
    width: 25vw;
    height: 30vw;
}

@media screen and (max-width: 768px) {
    .error {
        position: relative;
        left: 0;
        right: 60%;
    }
}
nav.hero {
    position: absolute;
}

.hero li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

nav.hero a {
    font-size: 1.5vw;
}

@media screen and (max-width: 1000px) {
    nav.hero {
        top: 10%;
        left: 15%;
        right: 15%;
    }
}
